q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [1]:
n = 4
for i in range(0,4):
    for j in range(0,i+1):
        print("ineuron", end = " ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [2]:
n = 2
k = 2*n-2
for i in range(n):
    for j in range(0,k):
        print(end="    ")
    k = k-1
    for j in range(0,i+1):
        print("ineuron ", end="   ")
    print("")
    
k = n -2
for i in range(n,-1,-1):
    for j in range(k,0,-1):
        print(end="    ")
        
    k = k+1
    for j in range(0,i+1):
        print("ineuron ", end="   ")
    print("")

        ineuron
    ineuron    ineuron
ineuron    ineuron    ineuron
    ineuron    ineuron
        ineuron

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

In [3]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

#Ans3:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [4]:
#Ans4: 
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [5]:
#Ans5:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [6]:
#Ans6:
for i in l:
    if type(i) == list or type(i) == set or type(i) ==tuple :
        for j in i:
            if type(j) == int:
                print(j)
    if type(i) ==dict:
        for k in i:
            if type(k) == int or type(i[k]) ==int:
                print(k, i[k])

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3 6
7 8

In [7]:
#Ans7:
l1=[]
for i in l:
    if type(i) == list or type(i) == set or type(i) ==tuple :
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) ==dict:
        for k in i:
            if type(k) == int or type(i[k]) ==int:
                l1.append(k)
                l1.append(i[k])
total=0
for v in l1:
    total+=v
print(total)

156

In [8]:
#Ans8:
for i in l:
    if type(i)==list:
        for j in i:
            if type(j) == int and j%2 != 0:
                print(j)

1
3

In [9]:
#Ans9:
for i in l:
    if i == "ineuron":
        print(i)
    if type(i) == list:
        for j in i:
            if j == "ineuron":
                print(j)
    if type(i) == dict:
        for k in i:
            if k == "ineuron":
                print(k)
            if i[k] =="ineuron" :
                print(i[k])

ineuron
ineuron

In [10]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
#Ans10:
l2 = []
for i in l:
    if type(i) == tuple or type(i) == list or type(i) == set:
        for j in i:
            l2.append(j)
    if type(i) == dict:
        for k in i:
            l2.append(k)
            l2.append(i[k])
    

r = {i: l2.count(i) for i in l2}
print(r)

{1: 1, 2: 2, 3: 4, 4: 4, 5: 3, 6: 3, 7: 2, 45: 1, 23: 1, 'k1': 1, 'sudh': 1, 'k2': 1, 'ineuron': 2, 'k3': 1, 'kumar': 1, 8: 1, 'data science ': 1}

In [11]:
#Ans11:
for i in l:
    if type(i) == dict:
        print(len(i.keys()))

5

In [12]:
#Ans12:
for i in l:
    if type(i) == list or type(i) == set or type(i) ==tuple :
        for j in i:
            if type(j) == str:
                print(j)
    if type(i) ==dict:
        for k in i:
            if type(k) == str or type(i[k]) ==str:
                print(k)
                print(i[k])

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [13]:
#Ans13:
for i in l:
    if type(i) == dict:
        for j in i:
            if type(j) ==str and j.isalnum():
                print(j)

k1
k2
k3

In [14]:
#Ans14:
total = 1
newlist = []
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                total *= j
        newlist.append(total)
    if type(i) == tuple:
        for k in i:
            if type(k) == int:
                total*=k
        newlist.append(total)
    if type(i) == set:
        for m in i:
            if type(m) == int:
                total*=m
        newlist.append(total)
    if type(i) == dict:
        for n in i:
            if type(n) == int or type(i[n]) == int:
                total*=n
        newlist.append(total)
    
    
newlist

[24, 17280, 43545600, 901393920000, 18929272320000, 18929272320000]

In [15]:
#Ans15:
l3 = []
for i in l:
    if type(i) == tuple or type(i) == list or type(i) == set:
        for j in i:
            l3.append(j)
    if type(i) == dict:
        for k in i:
            l3.append(k)
            l3.append(i[k])
            
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']